<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h4>标签 - "{{.Data.Term}}"</h4>
		{{ else }}
			<h1 class="page-title"></h1>
		{{ end }}

		<ul class="posts">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "2006年1月2日" .Date }}</span>
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
