sudo: true
language: go
git:
  depth: 1
install:
  - wget https://github.com/gohugoio/hugo/releases/download/v0.57.2/hugo_extended_0.57.2_Linux-64bit.deb
  - sudo dpkg -i hugo*.deb
script:
  - hugo
  - sleep 5
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  local_dir: public
  repo: igordonxiao/igordonxiao.github.io
  target_branch: master
  email: igordonxiao@gmail.com
  name: igordonxiao
