sudo: true
language: go
install:
  - wget https://github.com/gohugoio/hugo/releases/download/v0.59.1/hugo_extended_0.59.1_Linux-64bit.deb
  - sudo dpkg -i hugo*.deb
script:
  - hugo
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  local_dir: public
  repo: igordonxiao/igordonxiao.github.io
  target_branch: master
  email: igordonxiao@gmail.com
  name: igordonxiao
